body {
  background-color: #735C55;
  color: #FFFFFF;
  display: block;
  max-width: 600px;
  padding: 4em;
  margin: auto;
}

/* border inputted in "p selector" will affect table/box effects */
p {
  font-family: "palatino linotype", "book antiqua", palatino, serif;
  font-size: 20px;
  padding: 1em;
}

a {
  color: #000000;
}

a:hover {
  color: #FFFFFF;
  background-color: #B4D2F0;
  font-size: 24px;
}

a:visited {
  color: #FFFFFF;
  text-decoration: line-through;
  background-color: #B4D2F0;
}

p::first-letter {
  font-size: 36px;
}

header {
  width: 100%;
  margin: auto;
}

/* add border effects here for correct display
section for main blurbs that expand the max-width*/
section {
  width: 100%;
  background-color: #B4D2F0;
}

/* article to label any LEFT MODULE, aside for RIGHT MODULE */
article {
  float: left;
  border: 1px solid #D4A190;
  padding: auto;
  width: 45%;
  height: 400px;
  background-color: #D4A190;
}

aside {
  float: right;
  width: 45%;
  border: 1px solid #D4A190;
  padding: auto;
  height: 400px;
  background-color: #D4A190;
}

/* clear:both keeps footer from nesting in between articles */
footer {
  clear: both;
  max-width: 600px;
}